* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body::-webkit-scrollbar {
  display: none;
}
.sec1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topbackground {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.headliner {
  width: 100%;
  height: 44px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 15px;
  background-color: rgba(245, 245, 247, 0.8);
  z-index: 1;
}
