@media (min-width: 761px) and (max-width: 1024px) {
  .headliner {
    display: none;
  }
  .sec2row1,
  .sec2row2,
  .sec2row3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }
  .ipadfigure,
  .airpodsfigure,
  .iwatch,
  .macbook,
  .trade,
  .applecard {
    width: 50% !important;
    height: 550px;
    background-size: cover;
  }

  .figure0header,
  .figure1header,
  .figure2header,
  .headpara,
  .cardparas,
  .macpara1 {
    font-size: 42px !important;
    text-align: center;
  }

  .figure0para,
  .figure1para,
  .figure2para {
    font-size: 20px !important;
  }

  .scrolltop1,
  .scrolltop2,
  .scrolltop3 {
    min-width: 100% !important;
    height: 450px;
  }

  .card {
    width: 360px !important;
    height: 210px !important;
  }

  .inner-img {
    width: 160px !important;
    height: 160px !important;
  }

  .overlay {
    opacity: 0;
  }
  .card:active .overlay {
    opacity: 1;
  }

  .headliner {
    gap: 20px;
    justify-content: center;
  }
  .headliner p {
    font-size: 13px;
  }

  .ipadpara2 {
    margin-top: 300px !important;
  }

  #ipadair {
    width: 320px !important;
  }
  .scrolltop1 {
    background-image: url("./tablet1.jpg");
    background-size: cover;
  }
  .scrolltop2 {
    background-image: url("./tablet3.jpg");
    background-size: cover;
  }
  .scrolltop3 {
    background-size: cover;
  }
  .headliner {
    max-width: 761px;
    display: none;
  }
  .topbackground {
    display: flex;
    justify-content: space-between;
  }
  .mobileline {
    flex-direction: row;
    display: flex;
    justify-content: end;
  }
  .mobileline1 {
    width: 17px;
    height: 48px;
    position: absolute;
    left: 16px;
  }
  .mobileline2 {
    width: 17px;
    height: 48px;
  }
  .mobileline3 {
    width: 17px;
    height: 48px;
  }
  .mobileline4 {
    width: 17px;
    height: 17px;
  }
}
